<!DOCTYPE html>
<html>
<head>
    <title>Calcular Binarios</title>
</head>
<body>
    <h1>Calculadora Binaria</h1>
    <form method="post">
        {% csrf_token %}
        <label for="binario1">Número Binario 1:</label>
        <input type="text" name="binario1" required><br><br>

        <label for="binario2">Número Binario 2:</label>
        <input type="text" name="binario2" required><br><br>

        <button type="submit">Calcular</button>
    </form>

    {% if suma and multiplicacion %}
    <h2>Resultados:</h2>
    <label>Suma Binaria:</label>
    <label>{{ suma }}</label><br><br>

    <label>Multiplicación Binaria:</label>
    <label>{{ multiplicacion }}</label><br><br>
    {% endif %}
</body>
</html>
